@charset "utf-8";
/*
 Bryan Serpa
*/

.blueBox{
	border-style: solid;
	border-color: blue;
	color: blue;
	font-size: 3em;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
	max-width: 1000px;
}

.redRating {
	background-color: red;
	color: white;
	font-family:Arial, Helvetica, sans-serif;
	font-size: .8em;
	padding: 15px;
	max-width: 75px;
}

.date {
	font-family:Georgia, serif;
	text-shadow: 2px 2px gray;	
}